html,body {
	font-family: georgia, serif;
    /*font-family: 'IM Fell English SC', serif;*/
	/*background-color: #e4e4e4;*/
    overscroll-behavior-y: contain;
    background-color:white;
	margin: 0px;
	overflow: hidden;
}

div.card {
    touch-action: none;
    height : 90vh;
	height : calc(var(--true-height, 0px) * 0.9);
    width: 55.623vh;
	width : calc(var(--true-height, 0px) * 0.55623);
	z-index: 0;
	background:#e4e4e4 url(../images/Paper.jpg);
    background-size: 5%;
    border: 3vh solid;
	border: calc(var(--true-height, 0px) * 0.03) solid;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	border-color:white;
    border-radius: 5vh;
    border-radius: calc(var(--true-height, 0px) * 0.05);
    box-shadow: 0px 0px 5vh #CCC;/*#aaa*/
    box-shadow: 0px 0px calc(var(--true-height, 0px) * 0.05) #CCC;/*#aaa*/
	/* golden ratio 1.61803398875 */
	position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.card p {
    font-size: 2.1vh;
    font-size: calc(var(--true-height, 0px) * 0.021);
    line-height: 5.3vh;
    line-height: calc(var(--true-height, 0px) * 0.053);
    color: #5b5b5b;
    margin: 0% 10%;
    text-align: center;
}

.card .caption {
    color: #7b7b7b;
    font-size: 1.5vh;
    font-size: calc(var(--true-height, 0px) * 0.015);
}

.card p i {
    color:black;
    font-weight:bold;
}

.card img {
    padding: 5% 11.5vh;
    padding: 5% calc(var(--true-height, 0px) * 0.115);
    width: 26.442vh;
    width: calc(var(--true-height, 0px) * 0.26442);
}

.card a {
    text-decoration: none;
}

.card h1 {
    font-size:3vh;
    font-size: calc(var(--true-height, 0px) * 0.03);
    line-height:0px;
    color:black;
    margin-top: 15%;
    margin-bottom: 10%;
    text-align: center;
}

.swiper-container {
    width:100%;
    height: 100%;
    /*background:#fff;*/
    position:absolute;
}

.middle {
    height:100%;
    vertical-align: middle;
	z-index:-1;
}

#canvas {
    /*z-index:100;*/
}

#saintCanvas{
    border-radius: 2vh;
    border-radius: calc(var(--true-height, 0px) * .02);
    height:100%;
    width:100%;
}

#saint{
  height:100%;
  width:100%;
  position: absolute;
  left: 0;
  top: 0;
}


.gold-border{
    position:relative;
    height:96%;
    /* 2 * golden ratio */
    margin:3.23%;
    border-style: solid;
    border-width: 2vh;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    -moz-border-image: url(../images/border.png) 19 round;
    -webkit-border-image: url(../images/border.png) 19 round;
    -o-border-image: url(../images/border.png) 19 round;
    border-image: url(../images/border.png) 19 round;
}

.text-shifter{
  height:100%;
  position: absolute;
  left: 0;
  top: 0;
}

#load-screen{
    display:none;
    display:block;
    position:absolute;
    background: white;
    height:100%;
    width:100%;
    z-index:1;
}

#load-screen.fadeOut {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  opacity:0;
}

#load-screen #seal{
    width:30vh;
    height:38vh;
    position: absolute;
    left:50%;
    top:49.25%;
    margin-left:-15vh;
    margin-top:-19vh;
    background: url(../images/seal.gif);
    background-size: 30vh 30vh;
    background-repeat: no-repeat;
}

#load-screen #seal.fadeOut {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity:0;
}

#load-screen p {
    font-size: 2vh;
    line-height: 5.3vh;
    color: #5b5b5b;
    margin-top:30vh;
    text-align: center;

}